
nav, header h1, main {max-width: 64rem; margin: auto;}
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper{
        background-image: url(../images/header-large.jpg);
        height: 200px;
        background-size: cover;
        background-position: center;
    }


    div#titleWrapper {
        background-color: rgba(0, 0, 0, 0.4);
    }

    header h1 {
        font-size: 2.5rem;
        margin:auto;
        background:  none;
        padding-left: 0;
    }

   

/*----------- NAVIGATION --------------*/

nav {
    button {
        display: none;
    }
    ul, ul.open { 
        display: flex;
        justify-content: left;
        border: none;
    }

    ul li {
        border: none;
    }
    ul li a{
        font-size: .9rem;
        padding: .5rem 1.2rem;
    }
} // end nav

/*----------- MAIN --------------*/

main{
    .card-deck {
        .card {
            flex-basis: 25%;
    }
}
}

/*----------- FOOTER --------------*/
    
