


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper{
    background-image: url(../images/header-medium.jpg);
    height: 200px;
    background-position: center;
    
}

div#titleWrapper {
    background-color: rgba(0, 0, 0, 0.4);
}

header h1 {
    
    font-size: 2rem;
    margin: 0;
}


/*----------- NAVIGATION --------------*/
  
nav {
background-color: $menuColor;

    button {
        display: none;
    }

    ul{
        display: flex;
        border-left: 1px solid rgba(0,0,0, 0.1);
    }

    ul li {
        border-right: 1px solid rgba(0,0,0, 0.1);
    }

    ul li a{
        display: block;
        font-size: 1rem;
        padding: .9rem 1.2rem;
        color: rgba(255,255,255, .9);
        text-decoration: none;
        transition: background 0.3 linear;
    }

    ul li a:hover {
        background: rgba(0,0,0,0.5);
    }

    #primaryNav li.parent > a::after {
        content: "\25BC";
        color: rgba(255,255,255,.5);
        float: left;
    }

    ul li ul {
        display: flex;
        flex-direction: column;
        background-color: darken($menuColor, $amount: 5%);
        border: none;
        width: 14rem;
        position: absolute;
        left: -999rem;
        z-index: 99;
    } // child ul 

    ul li ul li {
        border-right: none;
        border-top: solid 1px rgba(0,0,0,0.2);
    } //child li

    ul li:hover ul {
        left: auto;
        margin-left: 0;
    }

    ul li.active a {
        background-color: darken($menuColor, $amount: 10%);
        color: #fff;
    }

    
} // end nav

/*----------- MAIN --------------*/
main{
    .card-deck {
        .card {
            flex-basis: 50%;
    }
}
}


/*----------- FOOTER --------------*/
    
