
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    display: grid;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
div#headerWrapper {grid-row-start: 1;}

header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    align-items: center;
    padding: .5rem 2vw;
    background-color: $primaryColor;
    div#phone{display: none;}
}
header h1 {
    font-size: 1.6rem;
    margin: 0;
    padding-left: 4rem;
    color: $menuColor;
}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
div#navWrapper {grid-row-start: 4;}

div#hamburger a, div#closex a {
    display: block;
    padding: .8rem 2vw;
    font-size: 1.5rem;
    color: $accentColor;
    text-decoration: none;
    text-align: right;
} // end nav buttons

div#closex a{
    margin-right: 2vw;
}

nav {
    height: 100vh;

    ul li {border-top:1px solid #eee;}
}
nav ul {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: $menuColor;
    
}

nav ul li a {
    display: block;
    padding: .9rem 2vw;
    text-decoration: none;
    text-align: right;
    color: white;
}

nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: $secondaryColor;
    color: white;
}
nav ul li.active a {
    background-color: $accentColor;
    color: $primaryColor;
}

/*----------- MAIN --------------*/
div#mainWrapper {grid-row-start: 2;}
main {
    padding: 0 $gutter;
    min-height: 10rem;
    margin: 0;

    h2{
        color: $menuColor;
    }

    p{
        font-size:small;
    }
}
/*---- COLUMNS ----*/

div.flexed {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
} // end parent

.column {
    padding: 0;
}

@for $i from 0 through 12{
    $w:($i/12) * 100%;
    .small-#{$i} {flex-basis: $w;}
} //end of loop

.jumbotron{
    background-color: $secondaryColor;
    color: white;
    margin: .5rem;
    text-align: center;
    p {
        font-size: 120%;
        padding: .5rem ;
    }
}

.stylecard {
    
    background-color: $primaryColor;
    border: 1px solid #333;
    margin:.5rem;
    text-align: center;

    

    a{
        display: block;
        background-color: $accentColor;
        color: white;
        padding: .5rem 0;
        margin:1rem;
        border-radius: 6px;
        text-decoration: none;
    }
}

.carwreck {
    background-color: $primaryColor;
    margin:.5rem;
    a{
        display: block;
        background-color: $accentColor;
        color: white;
        padding: .5rem 0;
        text-align: center;
        text-decoration: none;
       
    }

}

.TipFAQ {
    background-color: $primaryColor;
    margin:.5rem;
    a{
        display: block;
        color: black;
        padding: .5rem 0;
    }
}

/*---- Imagenes ----*/


.column img{width: 100%;}


div.social{
    background-color: white;
    display: flex;
    padding: 1rem 0;
    
}

div.social a {
    flex-basis: 25%;
    text-align: center;
    color: $accentColor;
    font-size: 2rem;
    text-decoration: none;
}

div.social a:hover{
    color: $secondaryColor;
}

/*----------- FOOTER --------------*/
div#footerWraper { grid-row-start: 3;}
footer {
    background-color: $menuColor;
    padding: .5rem 2%;
    text-align: center;
    color: white;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}