


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



nav ul{
    width: 200px;
}
    
/*----------- MAIN --------------*/

main{
    p{
        margin-left: 2%;
    }

}

div.member  {
    flex-basis: 45%;
    margin: .5rem ;
    text-align: left;


    figure img{
        width: 100%;
    }
    }

/*----------- FOOTER --------------*/
    
