/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $defaultFont;
}


/*----------- HEADER --------------*/

div#headerWrapper {
    background-color: $headercolor;
}

header {
    color: black;
    display: flex;
    background-color: $headercolor;

    div{
        margin: 0;
        margin-top: .5rem;
        padding-top: 2%;

        h1 {
            font-weight: 400;
            font-size: xx-large;
            margin: 0;
        }

        h2 {
            margin: 0;
            font-weight: normal;
            letter-spacing: 6px;
        }
    }

    figure {
        margin: 1rem;
    }
    
}
  



/*----------- NAVIGATION --------------*/

div#navWrapper{
    background-color: $menuColor;
}

nav {
    button{
        padding: .8rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: rgba(255,255,255, 0.9);
        display: flex;
    
    }

    ul {
        display: none;
        border-top: solid 1px rgba(255,255,255, 0.1);
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    ul.open {
        display: block;
    }

    ul li {
        border-bottom: solid 1px rgba(255,255,255, 0.1);
    }

    ul li a {
        display: block;
        font-weight: $lightWeight;
        color: rgb(255, 255, 255, 0.9);
        padding: .9rem 2vw;
        text-decoration: none;
        text-align: left;
    }

    ul li.active a {
        background-color: darken($menuColor, $amount: 12%);
    }

    ul li a:hover {
        background-color: darken($menuColor, $amount: 5%);
        color: $secondaryColor;
    }

}



/*----------- MAIN --------------*/
main {

    h1{
        color: black;
        font-weight: 300;
        padding-left: .5rem;
    }

    h2{
        font-weight: 300;
    }

    h3{
        font-weight: 400;
    }
     
    .swiper-wrapper {
        margin-bottom: 25px;
    }// places the dots below the image

    .swiper {
        width: 100%;
        height: auto;

        img{
            width: 100%;
            display: block;
        }
    } //end swiper

  p{
    color: black;
    font-weight: 300;
    padding: .5rem;
   
  }

  /*---- COLUMNS ----*/

div.flexed {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
} // end parent

.column {
    padding: 0;
}
.column img{width: 100%;}


@for $i from 0 through 12{
    $w:($i/12) * 100%;
    .small-#{$i} {flex-basis: $w;}
} //end of loop


.TipFAQ {
    background-color: $headercolor;
    margin:.5rem;
    padding: .5rem;
    display: block;

    a{
    display: block;
    background-color: #778C7C;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
    text-decoration: none;
    }
    p{
        padding: 0;
    }

    h2 {
        font-weight: 400;
    }

    h3{
        font-weight: 300;
        font-style: italic;
    }

    span{
        font-weight: 300;
        font-size: medium;
        text-align: center;
        margin-top: .8rem;
    }
    }


      /*---- COLUMNS ----*/


      form {
        margin-bottom: 2rem;
      }


      form fieldset {
        margin: 2rem 0;
        border-radius: 10px;
        padding: .5rem 2%;

        border: 1px solid #778C7C;
        margin-bottom: 1rem;

        label.client {
            font-size: .9rem;;
        }
    }

    form.myForm fieldset {
        border: 1px solid #778C7C;
        border-radius: 3px;
        margin-bottom: 1rem;
    }

    form.myForm legend {
        color: #778C7C;
        font-size: 1rem;
        margin: 0 1rem;
        padding: 0 .5rem;
    }
    form.myForm label {
        margin: .5rem;
        
    }
    .myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm textarea {
        display: block;
    }

    .myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm select, .myForm textarea {
        border: solid 1px #888;
        padding: .5rem;
        width: 250px;
        border-radius: .3rem;
        font-weight: 300;
        width: 100%;
        max-width: 20rem;
        
    }

    form label.top input{
        display: block;
        border: solid 1px #999;
        border-radius: 4px;
        padding: 0.5rem;
        width: 100%;
        max-width: 20rem;
        background-color: rgba(0, 0, 0, 0.1);
    }

    form label.comments{
        color: #778C7C;
    }

    form.myForm textarea {
        height: 10rem;
        
    }
    
    form.myForm :required {
        
        border-left: #fe457e solid 6px;
    }

    form label input:required:valid {
        border-left: #778C7C solid 6px;
    }
    
    form.myForm [type=submit] {
        background-color: #778C7C;
        border: none;
        padding: .75rem 1.5rem;
        border-radius: 1rem;
        color: white;
        margin: 0 0 2rem 2%;
        margin-left: .5rem;
        width: 96%;
        max-width: 20rem;
    }

    /*---- Tables ----*/

    table.wedding-pricing {
        width: 100%;
        border-collapse: collapse;

        th {
            background-color: #778C7C;
            color: white;
            padding: .5rem 2vw;
            text-align: left;
        }

        td {
            color: #778C7C;
            padding: .4rem 2vw;
        }

        tr:nth-child(odd) {
            background-color: #f7f7f7;
        }

        tr:hover {
            background-color: $headercolor;
        }
    }

    table.portraits-pricing {
        width: 100%;
        border-collapse: collapse;

        th {
            background-color: #778C7C;
            color: white;
            padding: .5rem 2vw;
            text-align: left;
        }

        td {
            color: #778C7C;
            padding: .4rem 2vw;
        }

        tr:nth-child(odd) {
            background-color: #f7f7f7;
        }

        tr:hover {
            background-color: $headercolor;
        }
    }



 }/*-- end of main --*/

 div.contact-info {

    a {
        color: #778C7C;
    }
    
}

 section.thegallery figure {
    width: 100%;
    height: 0;
    padding-bottom: 60%; /* you define this doing image height / widht * 100% */
    position: relative;
    margin: 0;
  }
  
  section.thegallery figure img {
    width: 100%;
    height: auto;
    position: absolute;
  }

  


/*----------- FOOTER --------------*/
footer {
    background-color: $primaryColor;
    padding: .5rem 2%;
    text-align: center;
    color: white;
}
