

    /* main {max-width: 75rem; margin: auto;}  */ 
  
  header, footer, nav, main {max-width: 75rem; margin: auto;}

  
  nav ul {
    padding-left: $gutter;
    display: flex;
    justify-content: center;
  }
  nav ul li {flex-basis: auto;}
  nav a {padding: .5rem 1rem;}
  
  main figure {width: 25%;}
  
  
  
