/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

 /*body rules here*/
 body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
    
}

/*header rules here*/

div#headerWrapper{
    background: linear-gradient(65.5deg, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
}
header {
   
    background: linear-gradient(65.5deg, rgb(23, 205, 205) -26%, rgb(23, 25, 95) 71.5%);
    padding: 1rem $gutter;
    color: white;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 2vw;
}


header h1 {
    font-weight: $heavyWeight;
    font-size: 3rem;
    margin: 0;
    letter-spacing: .7px;
}
header h2 {
    margin: 0;
    font-weight: $regularWeight;
    font-size: x-large;
    letter-spacing: -1px;
  
}
@media only screen and (max-width: 560px) {

    header h2{
        display: none;
    }


}  /* end of media query*/ 

/*navigation rules here*/
div#navWrapper {
    background-color: $primaryColor;
}

nav { background-color: $primaryColor;}
nav ul {margin:0; padding: 0}
nav li {list-style-type: none;}
nav li.active {background-color: rgb(14, 192, 192);}

nav a {
    display: block;
    padding: .8rem 0; /*44min height*/
    padding-left: .8rem;
    color: black;
    text-align: left;
    text-decoration: none;
}
nav a:hover {background-color: #494C8C; color: white;}

/*main rules here*/


main { 
    padding: 1rem $gutter;
    display: block;
}
main h1 {
    color: #4F3A81;
    font-weight: $heavyWeight;
}

main figure.starsHero {
    width: 100%;
    margin: 0;
}

main figure.starsHero img {
    width: 100%;
    height: auto;
    margin: 0;
}

main figure img {width: 100%;}

main figure {
    width: 100%;
    margin: 0;
}

main figcaption {
    text-align: center;
    font-size: .8rem;
}


/*footer rules here*/
div#footerWrapper {
    background-color: $primaryColor;
}
footer {
    text-align: center;
    padding: 1rem $gutter;
    background-color:$primaryColor;
}
