

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main{
    div#weatherforecast{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 8rem;
    }
}



/*----------- FOOTER --------------*/
    
