/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(circle at -2.2% -3.8%, rgba(255, 227, 2, 0.41) 0%, rgb(59, 188, 241) 100.2%);
    
    height: 130vh;
   
}


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/




/*----------- MAIN --------------*/
main {
    padding: 0;
    margin: 2%;
    min-height: 10rem;
    

    h1{
        text-align: center;
        color: $fourth-color;
        font-weight: 700;
    }

    h2 {
        text-align: center;
        color: $third-color;
        font-weight: 300;
    }



    div#weatherforecast {
        margin: 2%;
        display: grid;
        grid-template-columns: 1fr;

        
      

        div{
            margin: 2%;
            padding: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(48, 72, 97, 0.1);
            backdrop-filter: blur(10px);
            
            p{
                font-size: medium;
            }
            
            span{
                font-size: large;
                font-weight: 500;
                color: $second-color;
                
            }

            
        }
    }

   

   


} /*-- end main --*/


/*----------- FOOTER --------------*/




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}