


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

nav {
    button {
        display: none;
    }
    ul, ul.open { 
        display: flex;
        justify-content: left;
        border: none;
    }

    ul li {
        border: none;
    }
} // end nav
    
/*----------- MAIN --------------*/





div.parent {

    span { font-size: 1rem;}
    
    .lead {grid-column: 1 / span 3;}


}// end grid

/*----------- FOOTER --------------*/
    
