


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

nav {
    button {
        display: none;
    }
    ul, ul.open { 
        display: flex;
        justify-content: left;
        border: none;
    }

    ul li {
        border: none;
    }
} // end nav
    
/*----------- MAIN --------------*/

h1{ margin-left: 2%;}



div.parent{
   
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    span{
        font-size: 1rem;
     }

    
    .lead {
        grid-column: 1 / span 3;
    }
 


}// end grid

/*----------- FOOTER --------------*/
    
div.parentfooter{
    grid-template-columns: 1fr 1fr;
    
}
