


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

nav {
    button {
        display: none;
    }
    ul, ul.open { 
        display: flex;
        justify-content: left;
        border: none;
    }

    ul li {
        border: none;
    }
} // end nav
    
/*----------- MAIN --------------*/

h1{ margin-left: 2%;}



div.parent{
    
    display: grid; 
    grid-template-columns:none;
    grid-template-rows: none;

    span{
        display: block;
        text-align: center;
        font-size: 1rem;
     }
     .teaser, .lead {
        padding: .5rem 2vw;
     }
     .teaser img, .lead img{
        width: 100%;
     }
    
    .lead {
        grid-column: 1 / span 3;
    }
 

}// end grid

/*----------- FOOTER --------------*/
    
