 main{
        max-width: 60rem;
        margin:auto;
}

header, footer, nav, main {max-width: 60rem; margin: auto;}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper{
        background-image: url(../images/header-large.jpg);
        height: 400px;
        background-size: cover;
        background-position: center top;
    }

    header h1 {
        font-size: 2.5rem;
    }
    
   

/*----------- NAVIGATION --------------*/

nav {
    button {
        display: none;
    }
    ul, ul.open { 
        display: flex;
        justify-content: right;
        margin-right: 24vw;
        border: none;
    }

    ul li {
        border: none;
    }
} // end nav

/*----------- MAIN --------------*/

main{
    padding: 0;

    .card {
        flex-basis: 31.3%;
    }
}

/*----------- FOOTER --------------*/
    
