
div.topbar, h1, nav, main {max-width: 60rem; margin: auto;}
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper{
        background-image: url(../images/header-large.jpg);
        height: 400px;
        background-size: cover;
        background-position: center top;
    }

    header h1 {
        font-size: 2.5rem;
        margin:0;
        color: red;
    
    }
    div.topbar{
        padding-left: 0;
    }

div#topbarWrapper {
    background-color: $primaryColor;

}
    
   

/*----------- NAVIGATION --------------*/

nav {
    button {
        display: none;
    }
    ul, ul.open { 
        display: flex;
        justify-content: right;
        border: none;
    }

    ul li {
        border: none;
    }
} // end nav

/*----------- MAIN --------------*/

main{
    padding: 0;

    .card {
        flex-basis: 31.3%;
    }
}

/*----------- FOOTER --------------*/
    
