


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper{
    background-image: url(../images/header-medium.jpg);
    height: 240px;
    background-position: center top;
}
header h1 {
    
    font-size: 2rem;
    margin: 0;
}


/*----------- NAVIGATION --------------*/
  


/*----------- MAIN --------------*/

main{

    .card {
        flex-basis: 48%;
    }


}



/*----------- FOOTER --------------*/
    
