
header{
    padding: 1rem .5rem;
}

    nav ul {display: flex;
            justify-content: right;
            
        }
    main h1{
        padding: .5rem;
    }
    main {
        padding:0;
        margin: 0;
    }

    div.fruitGallery figure{
        flex-basis: 29%;
        padding: 0;
        margin: 1rem;
    }
    div.fruitGallery figure img{
        width: 100%
    }

