/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

 /*body rules here*/
 body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
    
}

/*header rules here*/

div#headerWrapper{
    background: white;
}
header {
   
    background: white;
    padding: .5rem 1rem;
    color: #e78a1a;
    display: grid;
    grid-template-columns: 110px auto;
}


header h1 {
    font-size: 2rem;
    margin: 0;
    margin-top: 1.5rem;
    letter-spacing: .5px;
}
header h2 {
    margin: 0;
    font-weight: $regularWeight;
    font-size: large;
    letter-spacing: -1px;
  
}
 /* end of media query*/ 

/*navigation rules here*/
div#navWrapper {
    background-color:white
}

nav { background-color: $primaryColor;}
nav ul {margin:0; padding: 0}
nav li {list-style-type: none;}


nav ul li a {
    display: block;
    padding: .8rem 0; /*44min height*/
    padding-left: .8rem;
    padding-right: .5rem;
    text-align: right;
    text-decoration:none;
    background-color: darken($primaryColor, 10%);
    color: white;
}

nav a:hover {background-color: lighten($primaryColor, 8%);
    color: #3B8C84;
    text-decoration: underline;
   
}

nav ul li.active a {background-color: darken($primaryColor, 22%);

}


        

/*main rules here*/


main { 
    padding:0;
    margin: 0;
    display: block;
}
main h1 {
    color: #3f978e;
    padding: .5rem;
    margin:0;
}

main figure img {
    width: 100%;
    padding: 0;
}

main figure {
    width: 100%;
    margin: 0;
}

main figcaption {
    text-align: center;
    font-size: .8rem;
    margin-bottom: 1rem;
}

div.fruitGallery {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
}


div.fruitGallery figure {
    flex-basis: 45%;
    margin: .5rem;
}
div.fruitGallery figure img{
    width: 100%
}

/*footer rules here*/
div#footerWrapper {
    background-color: white;
}
footer {
    text-align: center;
    padding: 1rem $gutter;
    background-color:$primaryColor;
    color: white;
}
