


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

nav {
    button {
        display: none;
    }
    ul, ul.open { 
        display: flex;
        justify-content: left;
        border: none;
    }

    ul li {
        border: none;
    }
} // end nav
    
/*----------- MAIN --------------*/

main{
    p{
        margin-left: 2%;
    }
    H1{
        margin-left: 2%;
    }
}

/*----------- FOOTER --------------*/
    
