/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $primaryFont;

}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: $primaryColor;
}
header h1 {
    margin: 0;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    padding-top: 2%;
}
header h2 {
    margin: 0; 
    font-weight: normal;
    color: white;
}

header figure.logo {
    float: left;
    margin: 0 2% 0 0;
}

/*----------- NAVIGATION --------------*/

nav {

    background-color: $menuColor;

    button{
        padding: .5rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: #302525;
        display: flex;
    }

    button span:nth-child(1){display: block;}
    button span:nth-child(2){display: none;}
    button.open span:nth-child(1) {display: none;}
    button.open span:nth-child(2) {display: block;}
    

}

nav ul {
    
    border-top: solid 1px #302525;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul.open {
    display: block;
}

nav ul li {
    border-bottom: solid 1px #302525;
   
}
nav ul li a {
    display: block;
    color: #302525;
    padding: .5rem 2vw;
    text-decoration: none;
    text-align: left;

}

nav ul li a:hover {
    background-color: darken($menuColor, $amount: 15%);
    color: wheat;
}
nav ul li.active a {
    background-color: darken($menuColor, $amount: 10%);
    color: #fff;
}



/*----------- MAIN --------------*/
main {
    padding: 0;
    min-height: 10rem;
}

p{
    line-height: 2rem;
    margin-left: 2%;
}

h1{ margin-left: 2%;}


  main figure {
    width: 100%;
    margin: 0;
  }

picture.photoA {
    display: block;
    float: right;
    width: 46%;
    margin: 0;
    margin-left: 2%;

}

main picture.photoA img, main picture.tacoHero img { width: 100%;}

main picture.photoA div {
    text-align: center;
    font-weight: 500;
    padding-bottom: 10%;
}

picture.tacosHero img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    
}


/*----------- FOOTER --------------*/
footer {
    background-color: $primaryColor;
    padding: .5rem 2%;
    margin-top: 2%;
    text-align: center;
    color: white;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}