
@media only screen and (min-width: 560px) {

    nav ul {display: flex;}
    nav ul li {flex-basis: 25%;}

    main figure {
        float: right;
        width: 50%;
        margin-left: 2%;
        margin-bottom: 1%;
    }


}  /* end of media query*/ 