/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

 /*body rules here*/
 body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
    
}

/*header rules here*/
header {
    background-color: lightblue;
    padding: 1rem 2%;
    color: white;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 2vw;
}
header h1 {
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
    letter-spacing: .7px;
}
header h2 {
    margin: 0;
    font-weight: 300;
    font-size: x-large;
    letter-spacing: -1px;
}

/*navigation rules here*/

nav { background-color: lightgray;}
nav ul {margin:0; padding: 0}
nav li {list-style-type: none;}
nav li.active {background-color: #8A038C;}

nav a {
    display: block;
    padding: .8rem 0; /*44min height*/
    color: black;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: #494C8C; color: white;}

/*main rules here*/


main { 
    padding: 1rem 2%;
    display: block;
}
main h1 {color: #4F3A81;}

main figure.starsHero {
    width: 100%;
    margin: 0;

}

main figure.starsHero img {
    width: 100%;
    height: auto;
}

main figure img {width: 100%;}

main figure {
    width: 100%;
    margin: 0;
}

main figcaption {
    text-align: center;
    font-size: .8rem;
}

/*footer rules here*/
footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: #4F3A81;
    color: white;
}
